:root {
	--main-bg-color: #FBFBFB;
	--main-text-color: black;
	--main-ul-bg-color: black;
	--main-li-colour: white;
}
body {
	margin: 0;
	padding: 0;
	line-height: 1.5;
	background-color: var(--main-bg-color);
	font-size: 18px;
	}
.wrap {
	display: flex;
	align-items: center;
}
header {
	background-color: #333;
	color: 000;
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
}
	/* LAYOUT */
section {
	width: 100%;
	padding-top: 10px;
	
}
.article-heading {
	display: flex;
	align-items: center;
	background-color: #D3D5D4;
}
article {
	text-align: center;
	line-height: 1;
	padding: 0px;
	display: grid;
	grid-template-columns: 5fr 8fr;
    height: 100px;
	padding: 0 10px 10px;
}
a {
	text-decoration: none;
	color: black;
	
}
li a {
	color: #FBFBFB;
}
p {
	margin: 0;
	padding: 0;
}
h1 {

}
h2 {
	padding: 0px 5px;
	margin: auto;
	text-align: center;
	font-size: 1em;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	color: #333333;
}
/*.article-type {
	width: auto;
	display: inline-block;
	padding: 5px;
	right: 0;
	
	background-color: black;
	color: white;
	font-size: 1.44em;
}
.type {
	display: block;
	margin: auto;
	
	text-align: center;
	width: auto;
	
}*/
.icon {
	border-radius: 250px;
	height: 40px;
	margin: 10px 0;
}
.logo {
	color: 000;
	cursor: default;
	height: 2.2em;
	fill: #FBFBFB;
	width: 240px;
}
ul {
	width: 100%;
	margin: 0;
	padding: 0;
	align-items: center;
	list-style-type: none;
	display: flex;
	justify-content: space-between;
	background-color: #333;
	text-transform: uppercase;

}
li {
	text-align: center;
	font-weight: 500;
	font-family: 'Oswald', sans-serif;
	font-size: 1em;
	padding: 0 10px;
}
li:hover {
	opacity: 0.3;
	transition: 1s;
}
.one {
	background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(/img/band1.jpg);
	background-position: center;
	background-size: cover;
}
.two {
	background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(/img/band.jpg);
	background-position: center;
	background-size: cover;
}
.three {
	background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(/img/band2.jpg);
	background-position: center;
	background-size: cover;
}
.four {
	background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(/img/band.jpg);
	background-position: center;
	background-size: cover;
}
.five {
	background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(/img/band1.jpg);
	background-position: center;
	background-size: cover;
}
.six {
	background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(/img/band2.jpg);
	background-position: center;
	background-size: cover;
}
.seven {
	background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(/img/band.jpg);
	background-position: center;
	background-size: cover;
}
.eight {
	background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(/img/band.jpg);
	background-position: center;
	background-size: cover;
}
.nine {
	background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(/img/band.jpg);
	background-position: center;
	background-size: cover;
}
footer {
	background-color: #333333;
}
@media only screen and (min-width: 700px) {
	h2 {
		margin: auto;
		font-size: 1.2em;
	}
	ul {
		margin: 0 auto;
		justify-content: flex-start;
		width: 100%;
	}
	li {
		margin: 0 0 0 20px;
	}
	.article-heading {
		min-height: 55px;
	}
	section {
		padding: 0;
		overflow: hidden;
		display: grid;
        grid-template-rows: repeat(4, minmax(70px, 150px));
        grid-template-columns: repeat(3, 1fr);
		grid-column-gap: 15px;
		grid-row-gap: 15px;
        max-width: 960px;
        margin: 15px auto;
    }
    article {
		padding: 0;
		margin-bottom: 0;
        grid-template-columns: 1fr;
        grid-template-rows: 5fr 1fr;
		height: auto;
    }
    article:nth-child(1) {
        grid-row: 1/3;
        grid-column: 1 / span 2;
    }
    article:nth-child(2) {
        grid-row: 1;
    }
    article:nth-child(3) {
        grid-column: 3;
        grid-row: 2/4;
        grid-template-columns: 1fr;
    }
    article:nth-child(4) {
        grid-column: 1;
        grid-row: 3/5
    }
    article:nth-child(6) {
        grid-column: 2/4;
        grid-row: 4;
    }
	header {
		margin: 0 auto;
		padding-left: 10px;
		display: flex;
		align-self: center;
	}
}
/*@media only screen and (min-width: 960px) {
	section {
		margin: 15px auto 0;
		padding: 0;
	}
	ul {
		max-width: 960px;
	}
}/*
