VARIABLES 
 :root {
     --main-bg-color: #FBFBFB;
     --main-text-color: black;
     --main-ul-bg-color: black;
     --main-li-colour: white;
}
 G 
/* GLOBAL */
html {
	 
     padding: 0;
}
 body {
	 margin: 0;
	 width: 100%;
     line-height: 1.5;
     background-color: var(--main-bg-color);
     font-size: 18px;
}
 img {
     max-width: 100%;
}
 p {
     margin: 0;
     padding: 0;
     font-family: 'Archivo', sans-serif;
     line-height: 2;
}
 a {
     text-decoration: none;
}
/* HEADER */
 .main-header {
     margin: 0;
     padding: 10px 0 6px;
     background-color: #333;
     width: 100%;
     height: auto;
     display: block;
     align-items: center;
}
.homepage-link {
}

 .logo {
     height: 40px;
     fill: #FBFBFB;
}
.logo:hover {
	cursor: pointer;
	opacity: 0.7;
}
/* NAVIGATION */
 .navigation-ul {
     width: 100%;
     margin: 0;
     padding: 1px 0;
     align-items: center;
     list-style-type: none;
     display: flex;
     justify-content: space-around;
     background-color: #333;
     text-transform: uppercase;
}
 .navigation-li {
     text-align: center;
     font-weight: 500;
     font-family: 'Oswald', sans-serif;
     font-size: 1em;
     padding: 0 5px;
}
 .navigation-li a {
     color: #FBFBFB;
}
 .navigation-li:hover {
     opacity: 0.3;
     transition: 1s;
}
/* CONTAINERS */
 .wrapper {
     width: 100%;
     margin: 0;
     padding: 0;
     background-color: #333;
}
/* HOMEPAGE */
 .homepage-parent {
	 padding: 0;
	 margin: 10px 0 0;
	 max-width: 100%;
	 overflow: hidden;
}
 .homepage-child {
     text-align: center;
     line-height: 1;
     display: grid;
     grid-template-columns: 5fr 8fr;
     height: 100px;
     padding: 0 10px 10px;
}
 .homepage-heading {
     display: flex;
     align-items: center;
     background-color: #D3D5D4;
}
 .homepage-headline {
     padding: 0 5px;
     margin: auto;
     text-align: center;
     font-size: 1em;
     font-family: 'Fjalla One', sans-serif;
     text-transform: uppercase;
     color: #333333;
}
/* ARTICLES */
 .article-parent {
     max-width: 960px;
     display: block;
	 margin: auto;
}
 .article-parent p {
	 max-width: 450px;
     margin: 10px auto 20px;
}
 .leading-img {
     min-height: 200px;
     display: flex;
     align-items: center;
}
 .albums-parent {
     display: grid;
     margin: 30px auto;
     grid-template-columns: 1fr;
     max-width: 960px;
}
 .albums-child {
     text-align: center;
     display: block;
     margin-bottom: 20px;
     color: #333;
}
 .albums-child a {
     color: #333;
}
 .album-art {
     max-width: 60%;
     margin: 0 auto 10px;
     opacity: 0.8;
}
 .album-art:hover {
     opacity: 1;
}
 .artist {
     font-size: 18px;
     padding: 0;
     margin: 0;
}
 .album-title {
     margin: 0;
     padding: 7px 0;
     font-size: 16px;
}
 .rating {
     margin-top: 7px;
}

 .article-headline {
     font-family: 'Fjalla One', sans-serif;
     text-transform: uppercase;
     color: #FBFBFB;
     margin: 0;
     padding: 0;
     margin: auto;
     max-width: 450px;
}
/* HOMEPAGE IMAGES */
 .one {
     background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(../img/alice.jpg);
     background-position: center;
     background-size: cover;
}
 .two {
     background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(../img/the-happy-few.jpg);
     background-position: center;
     background-size: cover;
}
 .three {
     background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(../img/band2.jpg);
     background-position: center;
     background-size: cover;
}
 .four {
     background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(../img/band.jpg);
     background-position: center;
     background-size: cover;
}
 .five {
     background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(../img/band1.jpg);
     background-position: center;
     background-size: cover;
}
 .six {
     background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(../img/band2.jpg);
     background-position: center;
     background-size: cover;
}
 .seven {
     background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(/img/band.jpg);
     background-position: center;
     background-size: cover;
}
 .eight {
     background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(../img/band.jpg);
     background-position: center;
     background-size: cover;
}
 .nine {
     background: radial-gradient( rgba(221, 10, 127, 0.6), rgba(144, 37, 120, 0.7)), url(../img/band.jpg);
     background-position: center;
     background-size: cover;
}
/* FOOTER */
 .main-footer {
     background-color: #333333;
     padding: 40px 0;
}
 .icon {
     max-width: 70px;
     margin: auto;
     display: block;
     background-color: #FBFBFB;
     border-radius: 250px;
}
 @media only screen and (min-width: 700px) {
	 /* DESKTOP HEADER */
     .main-header {
         display: flex;
         margin: 0 auto;
         align-items: center;
         max-width: 960px;
         justify-content: space-between;
         height: 60px;
    }
     .logo {
         margin: 0;
         padding-left: 10px;
         width: auto;
    }
	 
     .homepage-headline {
         margin: auto;
         font-size: 1.2em;
    }
	 /* DESKTOP NAVIGATION */
     .navigation-ul {
         margin: 0;
         width: 100%;
    }
     .navigation-li {
         margin: 5px 10px 5px 20px;
    }
	 /* DESKTOP LAYOUT */
   
     .homepage-parent {
         padding: 0;
         overflow: hidden;
         display: grid;
         grid-template-rows: repeat(4, minmax(70px, 150px));
         grid-template-columns: repeat(3, 1fr);
         grid-column-gap: 15px;
         grid-row-gap: 15px;
         max-width: 960px;
         margin: 15px auto;
    }
     .homepage-child {
         padding: 0;
         margin-bottom: 0;
         grid-template-columns: 1fr;
         grid-template-rows: 5fr 1fr;
         height: auto;
    }
     .homepage-child:nth-child(1) {
         grid-row: 1/3;
         grid-column: 1 / span 2;
    }
     .homepage-child:nth-child(2) {
         grid-row: 1;
    }
     .homepage-child:nth-child(3) {
         grid-column: 3;
         grid-row: 2/4;
         grid-template-columns: 1fr;
    }
     .homepage-child:nth-child(4) {
         grid-column: 1;
         grid-row: 3/5 
    }
     .homepage-child:nth-child(5) {
    }
     .homepage-child:nth-child(6) {
         grid-column: 2/4;
         grid-row: 4;
    }
	   .homepage-heading {
         min-height: 55px;
    }
	  /* DESKTOP ALBUMS */
     .albums-parent {
         grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
 